body {
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
  box-sizing: border-box;
  font: 16px/1.25 arial, sans-serif;
}

small {
  font-size: 0.75rem;
}

p {
  margin: 0;
  font-size: 0.875rem;
}

figure {
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  margin: -180px 0 0 -320px;
}

figcaption {
  margin: 0.5rem;
}

canvas {
  display: block;
}

.is-iframe {
  overflow: hidden;
}

.is-iframe figure {
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
}

.is-iframe figcaption {
  display: none;
}

.is-iframe canvas {
  width: 100%;
  max-width: 100%;
}

